# -*- mode: snippet; require-final-newline: nil -*-
# name: Single File Component
# key: sfc
# group: vue
# --
<template>
$0
</template>

<script>
export default {

};
</script>

<style scoped>

</style>