.cask/
.trello/
.saves/
eshell/
url/
auto-save-list/
elpa/
emojis/

/projectile-bookmarks.eld
flycheck_init.el
/recentf
/custom.el
.mc-lists.el
bookmarks
.org-id-locations
smex-items
/var
flycheck_*
projectile.cache
tramp
ido.last
