.cask/
.trello/
.saves/
eshell/
url/
auto-save-list/
elpa/
emojis/
.local/

/projectile-bookmarks.eld
flycheck_init.el
/recentf
/custom.el
user.el
.mc-lists.el
bookmarks
.org-id-locations
smex-items
/var
flycheck_*
projectile.cache
tramp
ido.last
network-security.data
.DS_Store
.yas-compiled-snippets.el
/games
private.el
