# -*- mode: snippet  -*-
# name: Redux action creator export
# key: rdae
# binding:
# --
export function ${1:NAME}(${2:ARG}) {
return {
type: ${3:TYPE$(upcase (s-replace "-" "_" yas-text))},
payload: $0$2,
};
}
