# -*- mode: snippet  -*-
# name: Redux reducer creator export
# key: rdr
# binding:
# --
export default function ${1:NAME}(state = ${2:initialState}, action = {}) {
switch (action.type) {
case ${3:ACTION$(upcase (s-replace "-" "_" yas-text))}:
return ${0:state};
default:
return state;
}
}
